
*{ padding:0;margin:0;}
body{font: 14px/1.5 arial,微软雅黑; color:#333;}
ul,ul li{ list-style:none;}
input,button{  list-style-type:none;}
h2{ font-size:16px;}
/*Fix Float*/
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
} 
.clearfix {display: inline-block;}

/* Hides from IE-mac \*/ 
* html .clearfix {height: 1%;} 
.clearfix {display: block;}
.clear{ clear:both;}
a{ text-decoration:none; color:#333;}
a:hover{ text-decoration:none;color:#006ca7;}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
td,
th {
  padding: 0;
}
/*--公用--*/

.f-l{ float:left;}
.f-r{ float:right;}
.m-l-10{margin-left:10px;}
.m-r-10{margin-right:10px;}
.m-r-20{ margin-right:20px;}
.m-t-10{margin-top:10px;}
.m-b-10{margin-bottom:10px;}
.m-b-20{margin-bottom:20px;}
.m-t-15{margin-top:15px;}
.m-t-20{margin-top:20px;}
.m-lr-30{ margin:0 30px;}
/*--头部--*/
.top-div{ width:100%;height:204px; background:#017cbf;}
.top-div-nr{ width:1170px;height:204px; background-color:#fff; margin:0 auto; }
.header{height:140px;width:1170px; margin:0 auto;  padding-top:26px;}
.header-top{ width:1170px; height:109px; }
.header .header-top .search-panel{ position:relative; float:right;width:420px;  }
.header .header-top .search-panel .search-panel-li{ margin-top:10px;}
.header .header-top .search-panel .search-panel-li li{ float:left; margin:0 10px; }
.header .header-top .search-panel .search-panel-li li a{ padding-bottom:4px; height:25px; line-height:20px; display:inline-block;}
.header .header-top .search-panel .search-panel-li li a,.header .search-panel .search-panel-li li a:visited{ color:#666; text-decoration:none;}
.header.header-top .search-panel .search-panel-li li a:hover{color:#006ca7;}
.header .header-top .search-panel .search-panel-li li a.selected,.header .search-panel .search-panel-li li a:visited.selected,.header .search-panel .search-panel-li li a:hover.selected{color:#006ca7;text-decoration:none; background:url(../images/site_nav.png) no-repeat  center bottom; }
.header .header-top .search-panel .search-panel-input{}
.header .header-top .search-panel .txt-inp{ float:left; padding:5px 10px; width:330px; height:20px; line-height:20px; border:1px #006ca7 solid;}
.header .header-top .search-panel .btn-search{ float:left; width:68px; height:32px; line-height:32px; text-align:center; color:#fff; background-color:#006ca7; border:0; cursor:pointer; background:url(../images/yubin_07.jpg) no-repeat center center; }
.header .header-top .search-panel .search-panel-results{ position:absolute;top:63px;width:350px; border:1px #bfbfbf solid; background:#fff;}
.header .header-top .search-panel .search-panel-results li{ }
.header .header-top .search-panel .search-panel-results li a{ padding:0 10px;height:26px; width:330px; line-height:26px; display:inline-block;}
.header .header-top .search-panel .search-panel-results li a,.header .search-panel .search-panel-results li a:visited{ color:#666; text-decoration:none;}
.header .header-top .search-panel .search-panel-results li a:hover{ background-color:#efefef;}

/*	mainNav	*/
.mainNav{ width:1170px; margin:0 auto; border-bottom:2px #006ca7 solid; height:30px;}
.mainNav li{ float:left;}
.mainNav li a{ padding:0 20px; height:25px; line-height:25px; display:inline-block; font-size:17px; font-family:"微软雅黑","黑体";}
.mainNav li a,.mainNav li a:visited{ color:#333; text-decoration:none;}
.mainNav li a:hover{ color:#006ca7;}
.mainNav li a.select{color:#006ca7;}
.mainNav li a.select,.mainNav li a:visited.select,.mainNav li a:hover.select{ color:#006ca7; text-decoration:none;}
/*	container	*/
.container{ width:1170px; margin:0px auto;}
/*底部*/
.foot{ width:100%; background-color:#383838; height:333px; margin-top:60px;}
.foot-zt{ width:1170px; margin:0 auto; padding-top:40px;height:160px;}
.foot-left{ width:144px; padding-left:121px;padding-right:36px;background:url(../images/foot-xian.jpg) no-repeat right 0; height:160px;}
.foot-left-top{width:144px;}
.foot-left-top img{ width:144px;height:63px;}
ul.foot-left-bottom{width:144px;}
ul.foot-left-bottom li{ float:left; margin-right:16px;}
ul.foot-left-bottom li a,ul.foot-left-bottom li a:hover{ color:#fff;}
.foot-middle{ width:356px; padding:0 36px; color:#fff; background:url(../images/foot-xian.jpg) no-repeat right 0; margin-right:36px; line-height:30px; height:160px;}
.foot-right{ width:395px;height:160px;}
.foot-right-l{ float:left; width:121px; margin-right:20px;}
.foot-right-r{float:left;}
.jl-qq{ color:#006ca7; background:url(../images/qq-tb.jpg) no-repeat 0 0; padding-left:30px; height:30px; line-height:30px;}
.jl-nr{ text-align:right; color:#fff; height:20px; line-height:20px;}
.jl-dh{color:#006ca7; background: url(../images/dh-tb.jpg) no-repeat 0 0; padding-left:30px;margin-top:15px;height:30px; line-height:30px;}
.foot-bq{ width:1100px; margin:0 auto; border-top:1px solid #4c4c4c; padding-top:20px; margin-top:50px;}
.foot-bq p{ width:1100px; text-align:center; color:#acaca9; }
.foot-bq p a,.foot-bq p a:hover{ color:#fff;}